
header {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	text-align: center;
	vertical-align: middle;
	background: rgb(245, 245, 245);
}

body.core-narrow {
  padding: 8px;
}


h1 {
	font-size: 2.5em;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}
h3 {
  font-size: 1.875em;
  font-weight: 400;
  padding: 0;
}

p {
	font-size: 0.875em;
}

paper-button[raised].colored {
  background: #4285f4;
  color: #fff;
  margin: 0.25em;
  float: center;
  min-width:5%;
}

core-toolbar {
	 background: #3f51b5;
}

.backgroundButton{
	min-height: 20px;
	min-width:120px;
	padding: 19px;
	margin-bottom: 20px;
	margin-left:40%;
	margin-right:40%;
	text-align: center;
	position:center;
	max-width: 20%;
	background-color: #E3E3D9;
	border: 1px solid rgb(227, 227, 227);
	border-image-source: initial;
	border-image-slice: initial;
	border-image-width: initial;
	border-image-outset: initial;
	border-image-repeat: initial;
	border-radius: 4px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;
	box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;
}

.logo {
margin: 0;
font-family: Lobster, cursive;
font-size: 8em;
text-align: center;
color: rgb(183, 41, 58);
text-shadow: rgb(81, 58, 51) 4px 4px 0px;
}

.background {
	margin: 0;
	background: rgb(245, 245, 245);
	text-align: center;
	padding: 1.5em;
	min-height: 100%;
}

.arroundCategorie {
	text-align:center;
	margin:0;
}

.categorie {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 2.5em;
}

.title{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 2em;
}

core-menu-button {
	background: #3f51b5;
}

core-item{
	text-align: center;
	vertaical-align: center;
}

@media (max-width: 320px) {
	.backgroundButton{
		min-height: 20px;
		min-width:120px;
		padding: 19px;
		margin-bottom: 20px;
		margin-left:5%;
		margin-right:5%;
		text-align: center;
		position:center;
		max-width: 20%;
		background-color: #E3E3D9;
		border: 1px solid rgb(227, 227, 227);
		border-image-source: initial;
		border-image-slice: initial;
		border-image-width: initial;
		border-image-outset: initial;
		border-image-repeat: initial;
		border-radius: 4px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;
		box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;
	}

	.arroundCategorie {
	text-align:left;
	margin:0;
	}

	.categorie {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1em;
	}


}

@media (max-width: 768px) {
	.backgroundButton{
		min-height: 20px;
		min-width:120px;
		padding: 19px;
		margin-bottom: 20px;
		margin-left:10%;
		margin-right:10%;
		text-align: center;
		position:center;
		max-width: 20%;
		background-color: #E3E3D9;
		border: 1px solid rgb(227, 227, 227);
		border-image-source: initial;
		border-image-slice: initial;
		border-image-width: initial;
		border-image-outset: initial;
		border-image-repeat: initial;
		border-radius: 4px;
		-webkit-box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;
		box-shadow: rgba(0, 0, 0, 0.0470588) 0px 1px 1px inset;
	}

	.arroundCategorie {
	text-align:left;
	margin:0;
	}

	.categorie {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1.5em;
	}


}

/* --------------Navigation--------------------------*/
 
.cbp-spmenu-left {
    left: -240px;
}
 
.cbp-spmenu-right {
    right: -240px;
}
 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
    margin-top: 64px;
}
 
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

.cbp-spmenu {
    background: #fff;
    position: fixed;
}
 
.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #fff;
}

.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
 
.cbp-spmenu-push-toright {
    left: 240px;
}
 
.cbp-spmenu-push-toleft {
    left: -240px;
}

.menuLinks{
	list-style-type: none;
	text-decoration: none;
}
 
.cbp-spmenu a {
    display: block;
    color: #424242;
    font-size: 1.1em;
    font-weight: 300;
    text-decoration: none;
}
 
.cbp-spmenu a:hover {
    background: #E0E0E0;
}
 
.cbp-spmenu a:active {
    background: #afdefa;
    color: #47a3da;
    text-decoration: none;
}
 
/* Orientation-dependent styles for the content of the menu */
 
.cbp-spmenu-vertical {
	margin-top: 64px;   
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}
 
.cbp-spmenu-vertical a {
    border-bottom: none;
    padding: 1em;
}

/*Vertical Menu Slides from left to right */
.cbp-spmenu-left {
    left: -240px;
}
 
 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
 
.cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
}

@media screen and (max-width: 55.1875em){
 
    .cbp-spmenu-horizontal {
        font-size: 75%;
        height: 110px;
    }
 
    .cbp-spmenu-top {
        top: -110px;
    }
 
    .cbp-spmenu-bottom {
        bottom: -110px;
    }
 
}

@media screen and (max-height: 26.375em){
 
    .cbp-spmenu-vertical {
        font-size: 90%;
        width: 190px;
    }
 
    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
        left: -190px;
    }
 
    .cbp-spmenu-right {
        right: -190px;
    }
 
    .cbp-spmenu-push-toright {
        left: 190px;
    }
}

/* Transitions */
 
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}